  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <title>
      {%- if page.title -%}
        {{ page.title }}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </title>
  
    {%-seo title=false-%}
    {%-feed_meta-%}
  
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
    <!-- for mathjax support -->
    {% if page.math %}
      <script>
        MathJax = {
          loader: {load: ['[tex]/physics']},
          tex: {
            packages: {'[+]': ['physics']},
            tags: 'ams'
          },
          options: {enableMenu: false},
          svg: {fontCache: 'global'}
        };
      </script>
      <script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
      </script>
  {% endif %}
  </head>