#featured-title {
  padding: 0;
  margin: 50px 0 0 0;
  text-align: center;
}

#featured {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-flow: row wrap;
  margin: 25px auto;
}

#featured .container {
  position: relative;
  width: 500px;
  margin: 25px auto;
  padding: 5px;
  height: 500px;
  background-color: #fff;
	box-shadow: 0 2px 10px #ABABAB;
}

#featured .container .title {
  width: 75%;
  margin: 0 auto;
  height: 100px;
  display: block;
  text-align: center;
}

#featured .container .title h1 {
  padding: 10px 20px;
  font-size: 40px;
}

#apollo .title h1 {
  border: 5px solid #FF6542;
  color: #FF6542;
}

#mintar .title h1 {
  border: 5px solid #2980b9;
  color: #2980b9;
}

#status .title h1 {
  border: 5px solid #a044ff;
  color: #a044ff;
}

#spacemine .title h1 {
  border: 5px solid #e52d27;
  color: #e52d27;
}

#featured .container .description {
  height: 367px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

#featured .description a {
  text-align: center;
  color: #fff;
  background-color: #5B6166;
  text-decoration: none;
  padding: 15px 0;
  position: absolute;
  top: 80%;
  left: 35%;
  width: 30%;
  transition: all 300ms;
}

#featured .description a:hover {
  background-color: #494F55;
  left: 25%;
  width: 50%;
}
