footer {
  padding-bottom: 30px;
  background-color: #424B54;
  color: #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 10px #2E3339;
}

footer .footer-item ul {
  padding: 0;
  margin: 60px 0;
  display: flex;
  align-items: center;
  list-style: none;
}

footer .footer-item ul li {
  float: left;
}

footer .footer-item ul li a {
  color: #BBACC1;
  border: 3px solid #BBACC1;
  padding: 5px 20px;
  margin: 5px;
  text-decoration: none;
  transition: all 100ms linear;
  box-shadow: 5px 5px 5px #373E45;
}

footer .footer-item ul li a:hover {
  border-color: #ECECEC;
  color: #ECECEC;
}

.small {
  margin: 2px;
  font-size: 12px;
}

footer .small a {
  color: #fff;
  text-decoration: none;
}

footer .small a:hover {
  border-bottom: 1px solid #fff;
}
