---
layout: default
---

<article>
  <header>
    <div class="mode-wrapper">
      <span>switch theme</span>
      <button id="mode"><br/></button>
    </div>
    <p class="post-meta">
      {%-include back_link.html-%}<time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time><br/>{% include read_time.html %}
    </p>
  </header>
  
  <h1>{{ page.title }}</h1>
  <hr />
  <h2>Table of contents</h2>
  {% include toc.html html=content %}
  <hr />
  {{ content }}
</article>

<!-- <div class="col-lg-8 col-md-10 mx-auto">
  <hr />
  
  <script src="https://utteranc.es/client.js"
    repo="jitseb/jitseb.github.io"
    issue-term="url"
    label="comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  
</div> -->