---
layout: default
---

<article>
  <header>
    <button id="mode"><br/><small>switch theme</small></button>
    <p class="post-meta">
      {%-include back_link.html-%}{% include read_time.html %} | <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    </p>
  </header>
  
  <h1>{{ page.title }}</h1>
  <hr />
  <h2>Table of contents</h2>
  {% include toc.html html=content %}
  <hr />
  {{ content }}
  <hr />
</article>

<!-- <div class="col-lg-8 col-md-10 mx-auto">
  <hr />
  
  <script src="https://utteranc.es/client.js"
    repo="jitseb/jitseb.github.io"
    issue-term="url"
    label="comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  
</div> -->